/*Skipped  7*/
* {
    box-sizing: border-box;
  }

html {
    font-size: 20px;
    background-color: #FFCFAB;
  }

.top{ 
    height: 100px;
    width: 100%;
    /*flex-wrap: wrap; I'm not sure if this is doing this correctly*/
    background-color: #40A1AD; 
    color: white;
    /*display: flex;text-align: center;
    justify-content: flex-start;
    margin-bottom: 15px; put in wrapper
     align-items: center;*/
}

/*DOES NOT WORK*/
.top .logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 20%;
    /* This aligns items to the end line on main-axis*/ ;
}

.top .name{
    display: flex;
    justify-content: flex-start;
    font-family: 'Patua One', cursive;
}
/*DOES NOT WORK*/



.content{
    display: flex; /*child of wrapper so don't need it*/
    flex-direction: row;
    max-width: 960px;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: 15px;
}


.cover{
    flex: 1;
    /* Grow to rest of container*/
    /* Just so it's visible */
} 
.history{
    flex: 2;
     /*Grow to rest of container*/ 
    background: rgb(240, 240, 240);
     /*Just so it's visible*/
     font-family: 'Patua One', cursive;
}

.profile{
    background: rgb(240, 240, 240);
    max-width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.description{
    background: rgb(240, 240, 240);
    font-family: 'Oregano', cursive;
}

.resume{
    font-family: 'Oregano', italic;
}

.details{
    font-family: 'Oregano', cursive;
}

@media screen and (max-width: 1000px) {
    .wrapper {   
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cover{
        flex-direction: column;
    }
    .profile + .description{
        margin-top: 0;
        margin-left: 12px;

    }
  }
