/*Skipped 4  7*/
html {
    font-size: 10px;
    background-color: cadetblue;
  }

.top{ 
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    flex-wrap: wrap; /*I'm not sure if this is doing this correctly*/
    background-color: black; 
    color: white;
    /*justify-content: flex-start;*/
    /*margin-bottom: 15px; put in wrapper*/
    /*text-align: left;*/
}

/*DOES NOT WORK*/
.top .logo{
    display: flex;
    max-width: 20%;
    justify-content: flex-end;
    /* This aligns items to the end line on main-axis*/ ;
}

.top .name{
    display: flex;
    justify-content: flex-start;
}
/*DOES NOT WORK*/



.content{
    display: flex; /*child of wrapper so don't need it*/
    flex-direction: row;
    max-width: 960px;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: 15px;
}


.cover{
    flex: 1;
    /* Grow to rest of container*/
    /* Just so it's visible */
} 
.history{
    flex: 2;
     /*Grow to rest of container*/ 
    background: rgb(209, 111, 111);
     /*Just so it's visible*/
}

.profile{
    background: rgb(240, 240, 240);
    max-width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.description{
    background: rgb(240, 240, 240);
}

@media screen and (max-width: 1000px) {
    .description, .profile, .history {   
      flex-direction: column;
    }
  }
